body {
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	background-color: #f9faf8;
	color: #1f2937;
	font-size: 20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px;
	font-weight: bold;
	font-size: 28px;
}

.page {
	display: flex;
}
.left-panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding: 30px;
}

.right-panel {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid black;
	width: 640px;
	height: 480px;
}

.square {
	display: flex;
	background-color: white;
}

.small-square {
	padding: 5px;
}

.medium-square {
	padding: 10px;
}

.big-square {
	padding: 20px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
